.inverted .container {
    background-color: white;
    color: blue;
}

.inverted .Player2 {
    background-image: url("../Images/invader2.png");
}

.inverted .Player1 {
    background-image: url("../Images/spaceship1.png");
}

.inverted .playerTitle {
    color: black;
} 

.inverted .reset {
    background-image: url("../Images/reset1.png");
    border: 0;
}

.inverted .stop {
    background-image: url("../Images/stop1.jpg");
    border: 0;
}

.inverted .mute {
    background-image: url("../Images/mute1.png");
    border: 0;
}
.inverted .sideTitle {
    color: blue;
}

.inverted .tile {
    border-color: rgb(132, 0, 255);
}

.inverted .side1 {
    background-color: white;
}

.inverted .side2 {
    background-color: white;
}

.inverted .styleBtn {
    background-image: url("../Images/darkmode.png");
    border: 0;
}

.inverted .p1img {
    background-image: url("../Images/spaceship1.png");
}

.inverted .p2img {
    background-image: url("../Images/invader2.png");
}

.inverted .monster1 {
    background-image: url("../Images/monster2.png");
}

.inverted .monsterB1 {
    background-image: url("../Images/monsterB2.png");
}
