.container {
    font-family: 'Press Start 2P', cursive;
    color: lime;
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
main {
    margin-top: 20px;
    margin-bottom: 40px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

aside {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}

.Player2 {
    background-image: url(Images/invader1.PNG);
    background-position: center;
    background-repeat: no-repeat;
}

.Player1 {
    background-image: url(Images/spaceship.PNG);
    background-position: center;
    background-repeat: no-repeat;
}