html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
}
.container {
    font-family: 'Press Start 2P', cursive;
    color: lime;
    text-align: center;
    padding: 0 20px 40px 20px;
}
.titleImg {
    width: 340px;
    height: 150px;

}
.side1 {
    background-image: url(Images/spaceinvaders.gif);
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0.9;
}
.side2 {
    background-image: url(Images/spaceinvaders.gif);
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0.9;
    }
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
main {
    margin-top: 20px;
    margin-bottom: 40px;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

aside {
    display: flex;
    justify-content:flex-start;
    gap: 70px;
    align-items: center;
    flex-direction: column;
}

.Player2 {
    background-image: url(Images/invader1.PNG);
    background-position: center;
    background-repeat: no-repeat;
}

.Player1 {
    background-image: url(Images/spaceship.PNG);
    background-position: center;
    background-repeat: no-repeat;
}

aside > h1  {
    color: white;
}

.reset {
 background-image: url(Images/reset.jpg);
 background-position: center;
 background-size:cover;
 padding: 40px;
}
